{% load static %}
<header class="header-area header-sticky">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <nav class="main-nav">
               <!-- ***** Logo Start ***** -->
               <a href="#" class="logo">
               <img src="{% static 'images/logo.png' %}" alt="Softy Pinko"/>
               </a>
               <!-- ***** Logo End ***** -->
               <!-- ***** Menu Start ***** -->
               <ul class="nav">
                  <li><a href="#welcome" class="active">Ana Sayfa</a></li>
                  <li><a href="#features">Hakkımızda</a></li>
                  <li><a href="#work-process">Django</a></li>
                  <li><a href="#testimonials">Testimonials</a></li>
                  <li><a href="#pricing-plans">Pricing Tables</a></li>
                  <li><a href="#blog">Önemli Bloglar</a></li>
                  {% if user.is_authenticated %}
                  <li><a href="{% url 'logout' %}">Çıkış Yap</a></li>
                  {% else %}
                  <li><a href="{% url 'login' %}">Giriş Yap</a></li>
                  {% endif %}


               </ul>
               <a class='menu-trigger'>
               <span>Menu</span>
               </a>
               <!-- ***** Menu End ***** -->
            </nav>
         </div>
      </div>
   </div>
</header>